* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.card {
  width: 320px;
  height: 490px;
  background: linear-gradient(135deg, #525ceb, #6c22a6);
  border-radius: 20px;
  padding: 1vw 2vw;
}

.search {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.error {
  color: #fff;
  font-size: 1vw;
  display: none;
}
.error i {
  font-size: 1.5vw;
}
.search input {
  border: none;
  outline: none;
  padding: 0.8vw 1.5vw;
  border-radius: 50px;
}
.search i {
  font-size: 1.5vw;
  background-color: #fff;
  padding: 0.85vw 1vw;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
}
.search i:hover {
  color: #6c22a6;
  scale: 1.1;
}

.weather {
  width: 100%;
  color: #fff;
  text-align: center;
  display: none;
}

.weather img {
  width: 120px;
}
.weather h1 {
  font-size: 2.8vw;
  font-weight: 500;
}

.weather h2 {
  font-size: 2.5vw;
  font-weight: 400;
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.card-bottom .elem {
  display: flex;
  align-items: center;
  text-align: left;
  color: #fff;
}

.elem img {
  width: 30px;
  margin-right: 0.5vw;
}
.elem p {
  font-size: 0.8vw;
  font-weight: 300;
  line-height: 1.3vw;
}
.elem .humidity,
.wind {
  font-size: 1.2vw !important;
  font-weight: 500 !important;
}
